---
layout: default
title: Think Tanks
---

<!-- Organizations -->
{% assign organizations = site.data.organizations %}
{% assign organizations = organizations | sort:"Name" %}

<!-- People -->
{% assign people = site.data.people %}
{% assign people = people | sort:"Name" %}

<!-- Relationships -->
{% assign relationships = site.data.relationships %}
{% assign relationships = relationships %}

<h1>Relationships Are Hard - 2</h1>

{% for organization in organizations %}

  <p>{{ organization.Name }}</p>

  {% for person in people %}
    <p>1) {{ person.Name }}</p>
    {% for relationship in relationships %}
    <p>2) {{ relationship.Person }} ==  {{ relationship.Organization }}</p>
      {% if relationship.Organization == organization.Name and relationship.Person == organization.Person %}
        <p>{{ person.Name }}</p>
      {% endif %}
    {% endfor %}
  {% endfor %}

{% endfor %}
