---
layout: default
title: Think Tanks
---

<!-- Organizations -->
{% assign organizations = site.data.organizations %}
{% assign organizations = organizations | sort:"Name" %}

<!-- People -->
{% assign people = site.data.people %}
{% assign people = people | sort:"Name" %}

<!-- Relationships -->
{% assign relationships = site.data.relationships %}
{% assign relationships = relationships %}

<h1>Relationships Are Hard - 3</h1>

{% for organization in organizations %}

  <p>{{ organization.Name }}</p>

  {% for person in people %}
    {% for relationship in relationships %}
      {% if relationship.Organization == organization.Name and relationship.Person == person.Name %}
        <p>{{ person.Name }} ({{ relationship.Relationship }})</p>
      {% endif %}
    {% endfor %}
  {% endfor %}

{% endfor %}
