---
layout: default
title: Think Tanks
---

<!-- Organizations -->
{% assign organizations = site.data.organizations %}
{% assign organizations = organizations | sort:"Name" %}

<!-- People -->
{% assign people = site.data.people %}
{% assign people = people | sort:"Name" %}

<!-- Relationships -->
{% assign relationships = site.data.relationships %}
{% assign relationships = relationships %}

{% for organization in organizations %}

<p>{{ organization.Name }}</p>

  {% for person in people %}
    <p>{{ person.Name }}</p>
  {% endfor %}

{% endfor %}
